<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.info.view.antiepidemic.mapper.AntiepidemicMapper">
    <resultMap id="antiepidemicList" type="com.info.view.antiepidemic.model.Antiepidemic">
			<result column="antiepidemicName" property="antiepidemicName" jdbcType="VARCHAR" />
			<result column="antiepidemicContext" property="antiepidemicContext" jdbcType="VARCHAR" />
			<result column="antiepidemicYq" property="antiepidemicYq" jdbcType="VARCHAR" />
			<result column="resourceId" property="resourceId" jdbcType="VARCHAR" />
			<result column="creatorId" property="creatorId" jdbcType="VARCHAR" />
			<result column="creatorName" property="creatorName" jdbcType="VARCHAR" />
			<result column="updaterId" property="updaterId" jdbcType="VARCHAR" />
			<result column="updaterName" property="updaterName" jdbcType="VARCHAR" />
			<result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
			<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
   </resultMap>

	<select id="findAll" resultMap="antiepidemicList">
		SELECT t.* FROM antiepidemic t
	</select>
	
	<select id="findById" parameterType="String" resultType="com.info.view.antiepidemic.model.Antiepidemic">
		SELECT t.*
			FROM antiepidemic t
				WHERE  1=1  AND 
				    	resourceId = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="findByCondition" parameterType="String" resultMap="antiepidemicList">
		SELECT t.*
			FROM antiepidemic t
				WHERE  1=1   ${hql}
	</select>
	
	<select id="executeSQL" parameterType="String" resultMap="antiepidemicList">
		 ${sql}
	</select>
	
	
	
	<select id="selectCount" resultType="java.lang.Integer">
    	select count(*) from antiepidemic t where 1=1 ${hql}
  	</select>
	
	
	<delete id="deteleAntiepidemic" parameterType="String">
		Delete FROM antiepidemic where 
		    	resourceId = #{id,jdbcType=VARCHAR}
	</delete>
	
	<insert id="addAntiepidemic" parameterType="com.info.view.antiepidemic.model.Antiepidemic">
		INSERT INTO antiepidemic 
			(
		    	antiepidemicName,
		    	antiepidemicContext,
		    	antiepidemicYq,
		    	creatorId,
		    	creatorName,
		    	updaterId,
		    	updaterName,
		    	updateTime,
		    	createTime,
		    	resourceId
			)
		VALUES
			(
		    	#{antiepidemicName},
		    	#{antiepidemicContext},
		    	#{antiepidemicYq},
		    	#{creatorId},
		    	#{creatorName},
		    	#{updaterId},
		    	#{updaterName},
		    	#{updateTime},
		    	#{createTime},
		    	#{resourceId}
			)
	</insert>
	
	<update id="updateAntiepidemic" parameterType="com.info.view.antiepidemic.model.Antiepidemic">
		UPDATE antiepidemic SET
		    	antiepidemicName=#{antiepidemicName},
		    	antiepidemicContext=#{antiepidemicContext},
		    	antiepidemicYq=#{antiepidemicYq},
		    	creatorId=#{creatorId},
		    	creatorName=#{creatorName},
		    	updaterId=#{updaterId},
		    	updaterName=#{updaterName},
		    	updateTime=#{updateTime},
		    	createTime=#{createTime},
		    	resourceId=#{resourceId}
		WHERE 
		    	resourceId=#{resourceId}
	</update>
</mapper>