<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.info.view.notice.mapper.NoticeMapper">
    <resultMap id="noticeList" type="com.info.view.notice.model.Notice">
			<result column="noticeName" property="noticeName" jdbcType="VARCHAR" />
			<result column="noticeContext" property="noticeContext" jdbcType="VARCHAR" />
			<result column="resourceId" property="resourceId" jdbcType="VARCHAR" />
			<result column="creatorId" property="creatorId" jdbcType="VARCHAR" />
			<result column="creatorName" property="creatorName" jdbcType="VARCHAR" />
			<result column="updaterId" property="updaterId" jdbcType="VARCHAR" />
			<result column="updaterName" property="updaterName" jdbcType="VARCHAR" />
			<result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
			<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
   </resultMap>

	<select id="findAll" resultMap="noticeList">
		SELECT t.* FROM notice t
	</select>
	
	<select id="findById" parameterType="String" resultType="com.info.view.notice.model.Notice">
		SELECT t.*
			FROM notice t
				WHERE  1=1  AND 
				    	resourceId = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="findByCondition" parameterType="String" resultMap="noticeList">
		SELECT t.*
			FROM notice t
				WHERE  1=1   ${hql}
	</select>
	
	<select id="executeSQL" parameterType="String" resultMap="noticeList">
		 ${sql}
	</select>
	
	
	
	<select id="selectCount" resultType="java.lang.Integer">
    	select count(*) from notice t where 1=1 ${hql}
  	</select>
	
	
	<delete id="deteleNotice" parameterType="String">
		Delete FROM notice where 
		    	resourceId = #{id,jdbcType=VARCHAR}
	</delete>
	
	<insert id="addNotice" parameterType="com.info.view.notice.model.Notice">
		INSERT INTO notice 
			(
		    	noticeName,
		    	noticeContext,
		    	creatorId,
		    	creatorName,
		    	updaterId,
		    	updaterName,
		    	updateTime,
		    	createTime,
		    	resourceId
			)
		VALUES
			(
		    	#{noticeName},
		    	#{noticeContext},
		    	#{creatorId},
		    	#{creatorName},
		    	#{updaterId},
		    	#{updaterName},
		    	#{updateTime},
		    	#{createTime},
		    	#{resourceId}
			)
	</insert>
	
	<update id="updateNotice" parameterType="com.info.view.notice.model.Notice">
		UPDATE notice SET
		    	noticeName=#{noticeName},
		    	noticeContext=#{noticeContext},
		    	creatorId=#{creatorId},
		    	creatorName=#{creatorName},
		    	updaterId=#{updaterId},
		    	updaterName=#{updaterName},
		    	updateTime=#{updateTime},
		    	createTime=#{createTime},
		    	resourceId=#{resourceId}
		WHERE 
		    	resourceId=#{resourceId}
	</update>
</mapper>