<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.info.view.risk.mapper.RiskMapper">
    <resultMap id="riskList" type="com.info.view.risk.model.Risk">
			<result column="riskName" property="riskName" jdbcType="VARCHAR" />
			<result column="riskType" property="riskType" jdbcType="VARCHAR" />
			<result column="resourceId" property="resourceId" jdbcType="VARCHAR" />
			<result column="creatorId" property="creatorId" jdbcType="VARCHAR" />
			<result column="creatorName" property="creatorName" jdbcType="VARCHAR" />
			<result column="updaterId" property="updaterId" jdbcType="VARCHAR" />
			<result column="updaterName" property="updaterName" jdbcType="VARCHAR" />
			<result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
			<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
   </resultMap>

	<select id="findAll" resultMap="riskList">
		SELECT t.* FROM risk t
	</select>
	
	<select id="findById" parameterType="String" resultType="com.info.view.risk.model.Risk">
		SELECT t.*
			FROM risk t
				WHERE  1=1  AND 
				    	resourceId = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="findByCondition" parameterType="String" resultMap="riskList">
		SELECT t.*
			FROM risk t
				WHERE  1=1   ${hql}
	</select>
	
	<select id="executeSQL" parameterType="String" resultMap="riskList">
		 ${sql}
	</select>
	
	
	
	<select id="selectCount" resultType="java.lang.Integer">
    	select count(*) from risk t where 1=1 ${hql}
  	</select>
	
	
	<delete id="deteleRisk" parameterType="String">
		Delete FROM risk where 
		    	resourceId = #{id,jdbcType=VARCHAR}
	</delete>
	
	<insert id="addRisk" parameterType="com.info.view.risk.model.Risk">
		INSERT INTO risk 
			(
		    	riskName,
		    	riskType,
		    	creatorId,
		    	creatorName,
		    	updaterId,
		    	updaterName,
		    	updateTime,
		    	createTime,
		    	resourceId
			)
		VALUES
			(
		    	#{riskName},
		    	#{riskType},
		    	#{creatorId},
		    	#{creatorName},
		    	#{updaterId},
		    	#{updaterName},
		    	#{updateTime},
		    	#{createTime},
		    	#{resourceId}
			)
	</insert>
	
	<update id="updateRisk" parameterType="com.info.view.risk.model.Risk">
		UPDATE risk SET
		    	riskName=#{riskName},
		    	riskType=#{riskType},
		    	creatorId=#{creatorId},
		    	creatorName=#{creatorName},
		    	updaterId=#{updaterId},
		    	updaterName=#{updaterName},
		    	updateTime=#{updateTime},
		    	createTime=#{createTime},
		    	resourceId=#{resourceId}
		WHERE 
		    	resourceId=#{resourceId}
	</update>
</mapper>