<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.info.view.work.mapper.WorkMapper">
    <resultMap id="workList" type="com.info.view.work.model.Work">
			<result column="workNo" property="workNo" jdbcType="VARCHAR" />
			<result column="password" property="password" jdbcType="VARCHAR" />
			<result column="workName" property="workName" jdbcType="VARCHAR" />
			<result column="sex" property="sex" jdbcType="VARCHAR" />
			<result column="mobile" property="mobile" jdbcType="VARCHAR" />
			<result column="address" property="address" jdbcType="VARCHAR" />
			<result column="resourceId" property="resourceId" jdbcType="VARCHAR" />
			<result column="creatorId" property="creatorId" jdbcType="VARCHAR" />
			<result column="creatorName" property="creatorName" jdbcType="VARCHAR" />
			<result column="updaterId" property="updaterId" jdbcType="VARCHAR" />
			<result column="updaterName" property="updaterName" jdbcType="VARCHAR" />
			<result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
			<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
   </resultMap>

	<select id="findAll" resultMap="workList">
		SELECT t.* FROM work t
	</select>
	
	<select id="findById" parameterType="String" resultType="com.info.view.work.model.Work">
		SELECT t.*
			FROM work t
				WHERE  1=1  AND 
				    	resourceId = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="findByCondition" parameterType="String" resultMap="workList">
		SELECT t.*
			FROM work t
				WHERE  1=1   ${hql}
	</select>
	
	<select id="executeSQL" parameterType="String" resultMap="workList">
		 ${sql}
	</select>
	
	
	
	<select id="selectCount" resultType="java.lang.Integer">
    	select count(*) from work t where 1=1 ${hql}
  	</select>
	
	
	<delete id="deteleWork" parameterType="String">
		Delete FROM work where 
		    	resourceId = #{id,jdbcType=VARCHAR}
	</delete>
	
	<insert id="addWork" parameterType="com.info.view.work.model.Work">
		INSERT INTO work 
			(
		    	workNo,
		    	password,
		    	workName,
		    	sex,
		    	mobile,
		    	address,
		    	creatorId,
		    	creatorName,
		    	updaterId,
		    	updaterName,
		    	updateTime,
		    	createTime,
		    	resourceId
			)
		VALUES
			(
		    	#{workNo},
		    	#{password},
		    	#{workName},
		    	#{sex},
		    	#{mobile},
		    	#{address},
		    	#{creatorId},
		    	#{creatorName},
		    	#{updaterId},
		    	#{updaterName},
		    	#{updateTime},
		    	#{createTime},
		    	#{resourceId}
			)
	</insert>
	
	<update id="updateWork" parameterType="com.info.view.work.model.Work">
		UPDATE work SET
		    	workNo=#{workNo},
		    	password=#{password},
		    	workName=#{workName},
		    	sex=#{sex},
		    	mobile=#{mobile},
		    	address=#{address},
		    	creatorId=#{creatorId},
		    	creatorName=#{creatorName},
		    	updaterId=#{updaterId},
		    	updaterName=#{updaterName},
		    	updateTime=#{updateTime},
		    	createTime=#{createTime},
		    	resourceId=#{resourceId}
		WHERE 
		    	resourceId=#{resourceId}
	</update>
</mapper>